# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Code editors
.idea

# Environments
.env
.venv
env/
venv/
ENV/


.cache

# These files appear in the deployment
group_vars
openshift-ansible-hosts
openshift-ansible-hosts-upscale

*.retry

