vrrp_script chk_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 2 # every 2 seconds
    weight 2 # add 2 points if OK
}

vrrp_script chk_squid {
    script "ps -deaf | grep -v grep | grep squid.conf"
    interval 2 # every 2 seconds
    weight 2 # add 2 points if OK
}

vrrp_instance VI_1 {
    state {% if ansible_hostname in primary %}MASTER
    {% else %}BACKUP
    {% endif %}interface eth0
    virtual_router_id 51
    priority {% if ansible_hostname in primary  %}101{% else %}100{% endif %} # 101 on haproxy, 100 on haproxy2
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass "{{ hostvars[groups.loadbalancers_controlplane[0]].keepalived_password.stdout }}"
    }
    virtual_ipaddress {
        {{ vip }} dev eth0
    }
    track_script {
        chk_haproxy
    }
}

{% if squid_vip is defined and ansible_fqdn in groups.loadbalancers_controlplane %}
vrrp_instance VI_2 {
    state {% if ansible_hostname in primary %}BACKUP
    {% else %}MASTER
    {% endif %}interface eth0
    virtual_router_id 52
    priority {% if ansible_hostname in primary  %}100{% else %}101{% endif %} # 100 on haproxy, 101 on haproxy2
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass "{{ hostvars[groups.loadbalancers_controlplane[0]].keepalived_password.stdout }}"
    }
    virtual_ipaddress {
        {{ squid_vip }} dev eth0
    }
    track_script {
        chk_squid
    }
}
{% endif %}

{% if extra_gateway_vip is defined and ansible_fqdn in groups.loadbalancers_internet_dataplane %}
vrrp_instance VI_3 {
    state {% if ansible_hostname in primary %}BACKUP
    {% else %}MASTER
    {% endif %}interface eth0
    virtual_router_id 53
    priority {% if ansible_hostname in primary  %}100{% else %}101{% endif %} # 100 on haproxy, 101 on haproxy2
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass "{{ hostvars[groups.loadbalancers_controlplane[0]].keepalived_password.stdout }}"
    }
    virtual_ipaddress {
        {{ extra_gateway_vip }} dev eth0
    }
    track_script {
        chk_haproxy
    }
}
{% endif %}
