vrrp_script chk_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 2 # every 2 seconds
    weight 2 # add 2 points if OK
}

vrrp_instance VI_1 {
    state {% if ansible_hostname == "{{ inventory_hostname[groups.loadbalancers[0]] }}"%}MASTER
    {% else %}BACKUP
    {% endif %}interface eth0
    virtual_router_id 51
    priority {% if ansible_hostname == "{{ inventory_hostname[groups.loadbalancers[0]] }}"%}101{% else %}100{% endif %} # 101 on haproxy, 100 on haproxy2
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass "{{ hostvars[groups.loadbalancers[0]].keepalived_password.stdout }}"
    }
    virtual_ipaddress {
        {{ haproxy_vip }} dev eth0
    }
    track_script {
        chk_haproxy
    }
}
