zone "{{ localDomainSuffix }}" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};

zone "ukcloud.com" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};

zone "redhat.io" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};

zone "redhat.com" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};

zone "akamaiedge.net" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};

zone "edgekey.net" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};

zone "svc" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};
