zone "." IN {
    type forward;
    forwarders {
        {{ net2_dns_server }};
    };
};

zone "{{ localDomainSuffix }}" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};

zone "ukcloud.com" IN {
    type forward;
    forwarders {
        {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }};
        {{ hostvars[groups.dns[1]].ansible_default_ipv4.address }};
    };
};
