zone "{{ env_details.localDomainSuffix }}" IN {
    type master;
    file "{{ env_details.localDomainSuffix }}.zone";
    allow-update { none; };
    allow-transfer { key TRANSFER; };
};

include "/etc/openshift-tsig.key";
