zone"{{ localDomainSuffix }}" IN {
    type slave;
    masters { {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }}; };
    file "{{ localDomainSuffix }}.zone";
    allow-transfer { none; };
};

include "/etc/openshift-tsig.key";
