zone"{{ env_details.localDomainSuffix }}" IN {
    type slave;
    masters { {{ hostvars[groups.dns[0]].ansible_default_ipv4.address }}; };
    file "{{ env_details.localDomainSuffix }}.zone";
    allow-update { none; };
    allow-transfer { none; };
};

include "/etc/openshift-tsig.key";
