$ORIGIN {{ localDomainSuffix }}.
$TTL 60s 
@    IN    SOA    dns1.{{ localDomainSuffix }}.    hostmaster.{{ localDomainSuffix }}. (
            2001062501 ; serial                     
            21600      ; refresh after 6 hours                     
            3600       ; retry after 1 hour                     
            604800     ; expire after 1 week                     
            86400 )    ; minimum TTL of 1 day  
             
                   
    IN    NS    dns1.{{ localDomainSuffix }}.
    IN    NS    dns2.{{ localDomainSuffix }}.
    
{% set count = 1 %}
{% for hostname in groups.dns %}
dns{{ count }}	IN	A	{{ hostvars[hostname].ansible_default_ipv4.address }}
{% set count = count + 1 %}
{% endfor %}

{% for ip, hostname in control_plane_details.iteritems() %}
{{ hostname }}. IN      A       {{ ip }}
{% endfor %}

{% for ip, hostname in data_plane_details.iteritems() %}
{{ hostname }}. IN      A       {{ ip }}
{% endfor %}

{% for ip, hostname in worker_details.iteritems() %}
{{ hostname }}.	IN	A	{{ ip }}
{% endfor %}

{% for ip, hostname in master_details.iteritems() %}
{{ hostname }}.	IN	A	{{ ip }}
{% endfor %}

bastion-host	IN 	A	{{ bastionIp }}
console		IN 	A	{{ haproxy_vip }}
