kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata: 
  name: allow-from-same-and-privileged-namespaces
spec: 
  podSelector: 
  ingress: 
  - from:
    - podSelector: {}
  - from:
    - namespaceSelector: 
        matchLabels:
          state: privileged

