PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
DebugLevel=3
StartAgents=3
Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}:10051
HostnameItem=system.hostname
HostMetadataItem=system.uname
Include=/etc/zabbix/zabbix_agentd.d/*.conf
AllowRoot=0
User=zabbix