vrrp_script chk_haproxy {
  script "killall -0 haproxy" # check the haproxy process
  interval 2 # every 2 seconds
  weight 2 # add 2 points if OK
}

vrrp_instance VI_1 {
    state {% if "-0" in ansible_hostname %}MASTER
    {% else %}BACKUP
    {% endif %}interface eth0
    virtual_router_id 51
    priority {% if "0" in ansible_hostname %}101{% else %}100{% endif %} # 101 on haproxy, 100 on haproxy2
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass $ place secure password here.
    }
    virtual_ipaddress {
        {{ env_details.haproxy_vip }} dev eth0
    }
    track_script {
      chk_haproxy
    }
}
