global:

route:
  receiver: 'slack-UKCloud-OpenShift'
  group_by: ['alertname']
  routes:
  - match_re:
      alertname: ^PortworxVolume[a-zA-Z]*$
    receiver: 'blackhole'

receivers:
- name: 'slack-UKCloud-OpenShift'
  slack_configs:
  - api_url: '{{ slackWebhookUrlAcmeSh }}'
{% if multinetwork %}
    http_config:
      proxy_url: http://{{ squid_vip }}:3128
{% endif %}
    channel: '#openshift-monitoring'
    send_resolved: true
    icon_emoji: ':try_not_to_cry:'
    title_link: 'https://alertmanager-portworx-kube-system.{{ domainSuffix }}/#/alerts'
    text: |-
      *Cluster:* <https://ocp.{{ domainSuffix }}:8443|{{ domainSuffix }}>
- name: 'blackhole'